<div class="btn-header m-2">
  <div class="form-group department-dropdown">
    <select id="department" name="department" (change)="onSelectDepartment($event)" ngModel required>
      <option value="" disabled selected>Department</option>
      <option
        *ngFor="let option of departmentOptions"
        [value]="option.value"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
  <button (click)="showRegiration()" class="btn btn-primary" type="button">Show  {{isRegistration ? 'Attendance' : 'Registration'}}</button>
</div>
<div class="chart-container">
  <div class="pie-chart">
    <app-pie *ngIf="pieData.key.length" [pieData]="pieData"></app-pie>
  </div>
  <div class="data-chart-container">
    <div class="row">
      <div class="col">
        <app-data-card [icon]="isRegistration ? icon[1] : icon[0]" [title]="isRegistration ? 'Registered' : 'Attended'" [value]="isRegistration ? registeredEmployeeCount: attendedEmployeeCount"></app-data-card>
      </div>
      <div class="col">
        <app-data-card [icon]="icon[2]" [title]="isRegistration ? '% Registered' : '% Attended'" [value]="isRegistration ? registeredPer : attendedPer"></app-data-card>
      </div>
    </div>
  </div>
</div>
<h2 class="title">List of {{isRegistration ? 'Registered' : 'Attended' }} Employees</h2>
<app-table [displayedColumns]="displayedColumns" [dataSource]="isRegistration ? filteredRegisteredDataSource : filteredAttendedDataSource" [searchTerm]="searchTerm"></app-table>
