.title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  padding: 5px;
}

.chart-container{
  display: flex;
  flex-direction: row;
}

.pie-chart{
  flex: 1;
}

.data-chart-container{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  padding: 10px;
  margin: 5px;
}

/* Styling the select dropdown */
select {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

/* Styling the option elements */
option {
  padding: 8px;
}

/* Styling the placeholder option */
option[disabled]:first-child {
  color: #888;
}

/* Styling the selected option */
option:checked {
  background-color: #007bff;
  color: #fff;
}

/* Styling the dropdown arrow icon */
select::-ms-expand {
  display: none; /* Hide default arrow in IE */
}

/* Additional styling for hover and focus effects */
select:hover, select:focus {
  border-color: #007bff;
}

.event-info-header{
  display: flex;
  justify-content: flex-end;
}

.department-dropdown{
  width: 10%;
  margin-right: 2%;
}