<div class="main-container">
  <div class="img-container">
    <img class="img_c" src="assets/images/login-vector.jpg" />
  </div>
  <div class="login-container">
    <h1>Register</h1>
    <form (ngSubmit)="signup(f)" #f="ngForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          ngModel
          placeholder="Your Name"
          required
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          email
          id="email"
          name="email"
          #email="ngModel"
          placeholder="Your Email"
          ngModel
          required
        />
        <span
          class="help_block"
          *ngIf="(!email.valid && email.touched) || validEmail"
          >Please enter a valid email address!</span
        >
        <span class="help_block" *ngIf="existingEmail"
          >Email Already Registered!</span
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          placeholder="Your Password"
          required
        />
      </div>
      <div class="form-group">
        <select id="department" name="department" ngModel required>
          <option value="" disabled selected>Department</option>
          <option
            *ngFor="let option of departmentOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-dark rounded-5" [disabled]="!f.valid">
        Sign Up
      </button>
    </form>
    <p class="mt-3">
      Already Registered?
      <span
        ><a
          [routerLink]="
            eventId
              ? isAttend
                ? ['/login/events']
                : ['/register']
              : ['/login']
          "
          [queryParams]="getQueryParams()"
          >Login</a
        ></span
      >
      here
    </p>
  </div>
</div>
