<div class="login-container">
  <h1>Register</h1>
  <form (ngSubmit)="signup(f)" #f="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" ngModel required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" email id="email" name="email" #email="ngModel" ngModel required>
      <span class="help_block" *ngIf="(!email.valid && email.touched) || validEmail">Please enter a valid email address!</span>
      <span class="help_block" *ngIf="existingEmail">Email Already Registered!</span>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required>
    </div>
    <div class="form-group">
      <select id="department" name="department" ngModel required>
        <option value="" disabled selected>Department</option>
        <option *ngFor="let option of departmentOptions" [value]="option.value">{{ option.label }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign Up</button>
  </form>
  <p>Already Registered? <span><a [routerLink]="eventId ? (isAttend ? ['/login/events'] : ['/register']): ['/login']" [queryParams]="getQueryParams()">Login</a></span> here</p>
</div>

