.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.list li {
  list-style: none;
  margin-top: 50px;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}

.active{
  color: blue;
  font-weight: bold;
  font-size: 30px;
}

.sidebar {
  overflow-y: auto;
  background-color: rgb(112, 191, 222);
  padding: 12px;
  height: 100%;
}

@media (min-width: 576px) {
  .sidebar {
    width: 100%;
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .sidebar {
    max-width: 350px;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    max-width: 400px;
  }
}
