<div class="dashboard-stats-container mb-5">
  <div class="col">
    <app-data-card [icon]="icons[0]" [title]="'Registered Employees'" [value]="totalEmployeeCount"></app-data-card>
  </div>
  <div class="col">
    <app-data-card [icon]="icons[1]" [title]="'Total Events'" [value]="totalEventCount"></app-data-card>
  </div>
  <div class="col">
    <app-data-card [icon]="icons[2]" [title]="'Past Events'" [value]="totalPastEventCount"></app-data-card>
  </div>
  <div class="col">
    <app-data-card [icon]="icons[3]" [title]="'Upcoming Events'" [value]="totalUpcomingEventCount"></app-data-card>
  </div>
</div>
<app-line-chart [attendedData]="attendedData" [registeredData]="registeredData"></app-line-chart>
<div class="event-container mt-5">
  <div class="upcoming-event">
    <div class="header">
      <h1>Upcoming Events</h1>
    </div>

    <div class="alert" *ngIf="upcomingEvents.length === 0">
      No Upcoming events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let upEvent of upcomingEvents | search: searchTerm: ['name', 'description', 'location']" [event]="upEvent"></app-event-card>
    </div>
  </div>
  <div class="past-event">
    <div class="header">
      <h1>Past Events</h1>
    </div>
    <div class="alert" *ngIf="pastEvents.length === 0">
      No Past events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let paEvent of pastEvents | search: searchTerm: ['name', 'description', 'location']" [event]="paEvent" [isPast]="true"></app-event-card>
    </div>
  </div>
</div>
