.dashboard-stats-container{
  display: flex;
  flex-direction: row;
}

.col{
  flex: 1;
}

.event-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.upcoming-event {
  flex: 1;
  text-align: center;
}

.past-event {
  flex: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.event-card {
  flex: 1 1 25% ; /* Adjust the width of the cards as needed */
}

.header {
  padding: 12px;
  margin: 2px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  height: 60px;
}

.chart-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.bar-chart-container{
  width: 40%;
}
.line-chart{
  width: 85%;
}
