<app-search (searchUpdated)="onSearch($event)"></app-search>
<main class="dashboard">
  <div>
    <h1>Upcoming Events</h1>
    <div class="alert" *ngIf="upcomingEvents.length === 0">
      No Upcoming events!
    </div>
    <app-event-card *ngFor="let upEvent of upcomingEvents | search: searchTerm: ['name', 'description', 'location']" [event]="upEvent"></app-event-card>
  </div>
  <div>
    <h1>Past Events</h1>
    <div class="alert" *ngIf="pastEvents.length === 0">
      No Past events!
    </div>
    <app-event-card *ngFor="let paEvent of pastEvents | search: searchTerm: ['name', 'description', 'location']" [event]="paEvent"></app-event-card>
  </div>
</main>
