<mat-card class="event-card">
  <img mat-card-image class="event-photo"
    [src]="imageURL?imageURL: 'assets/images/event-placeholder.png'"
    alt="Photo Placeholder">
    <mat-card-header>
      <mat-card-title class="event-info">{{event.name ? event.name : 'Event Name Unavailable'}}</mat-card-title>
      <mat-card-subtitle class="event-info">{{event.description}}</mat-card-subtitle>
    </mat-card-header>
  <mat-card-content class="mt-3 mb-2">
    <span class="border border-primary p-2 m-1 rounded-5">{{event.date | date}}</span>
    <span class="border border-success p-2 m-1 rounded-5">{{formattedStartTime}}</span>
    <span style="max-width: 50px;" class="border border-info p-2 m-1 rounded-5">{{event.location}}</span>
  </mat-card-content>
  <div class="button-container">
    <button class="button-row" mat-raised-button color="primary" (click)="viewInfo()" style="background-color:#1abc9c;">View Details</button>
    <button  *ngIf="!isPast" class="button-row" mat-raised-button color="primary" (click)="onEdit()" style="background-color:#1abc9c;">Edit</button>
      <button  *ngIf="!isPast" class="button-row" mat-raised-button color="primary" (click)="onDelete()" style="background-color:#1abc9c;">Delete</button>
    <button  *ngIf="!isPast" class="button-row" mat-raised-button color="primary" (click)="downloadQrCode()" style="background-color:#1abc9c;">Download QR Code</button>
  </div >
</mat-card>
