<div class="container card">
  <div class="row">
    <div class="col-md-2">
      <img [src]="imageURL" height="100%" width="80%" alt="Image">
    </div>
    <div class="col-md-5 card-body">
      <div class="row card-title">
        <div class="col-md-12">
          <h3>{{event.name}}</h3>
        </div>
      </div>
      <div class="row card-text">
        <div class="col-md-12">
          <p>{{ event.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="border border-primary p-2 rounded-5">{{event.date | date}}</span>
        </div>
        <div class="col-md-2">
          <span class="border border-success p-2 rounded-5">{{formattedStartTime}}</span>
        </div>
        <div class="col-md-3">
          <span class="border border-info p-2 rounded-5">{{event.location}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row m-2">
        <div class="col-md-2">
           <button class="btn btn-primary">Edit</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-danger">Delete</button>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-md-6">
          <button class="btn btn-secondary" (click)="downloadQrCode()">Download QR Code</button>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-md-12">
          <button class="btn btn-success" (click)="viewInfo()">View Info</button>
        </div>
      </div>
    </div>
  </div>
</div>  