<div class="login-container">
  <h1>Login</h1>
  <form (ngSubmit)="login(f)" #f="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" email id="email" name="email" #email="ngModel" ngModel required>
      <span class="help_block" *ngIf="(!email.valid && email.touched) || validEmail">Please enter a valid Email!</span>
      <span class="help_block" *ngIf="emailNotFound">You are not Registered!</span>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" ngModel required>
      <span class="help_block" *ngIf="invalidPassword">Invalid Password</span>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">{{eventId ? 'Attend' : 'Login' }}</button>
  </form>
  <p>Don't have an account? <span><a routerLink="/signup">Sign Up</a></span> here</p>
</div>

