<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let col of displayedColumns">
    <ng-container  [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef>{{col}}</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <!-- Check if the current column is the "action" column -->
        <ng-container *ngIf="col === 'action'">
          <button type="button" mat-icon-button color="primary" (click)="onDelete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <!-- If it's not the "action" column, display the value -->
        <ng-container *ngIf="col !== 'action'">
          {{ row[col] }}
        </ng-container>
      </td>
    </ng-container>
  </ng-container>
  
  <!-- Table Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;let even = even" [class.striped-row]="even"></tr>
</table>
