<div class="events">
    <!-- <button class="add-event-btn" mat-fab extended (click)="onAddEvent()">
      <mat-icon>add_box</mat-icon>
      Add Event
  </button> -->
  <div class="event-header">
    <div class="form-group location-dropdown">
      <select id="location" name="location" (change)="onSelectLocation($event)" ngModel required>
        <option value="" disabled selected>Location</option>
        <option
          *ngFor="let option of locationOptions"
          [value]="option"
        >
          {{ option }}
        </option>
      </select>
    </div>
    <ng-template [ngIf]="this.roles?.includes('admin')">
    <button class="btn btn-primary add-event-btn" type="button" extended (click)="onAddEvent()" >
      <mat-icon class="add-icon">add_box</mat-icon>
     <span>Add Event</span>
      </button>
      </ng-template>
  </div>
  <div class="event-section">
    <div class="header">
      <h1>Upcoming Events</h1>
    </div>
    <div class="alert" *ngIf="upcomingEvents.length === 0">
      No Upcoming events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let upEvent of filteredUpcomingEvents | search: searchTerm: ['name', 'description', 'venue']" [event]="upEvent"></app-event-card>
    </div>
  </div>
  <div class="event-section">
    <div class="header">
      <h1>Past Events</h1>
    </div>
    <div class="alert" *ngIf="pastEvents.length === 0">
      No Past events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let paEvent of filteredPastEvents | search: searchTerm: ['name', 'description', 'venue']" [event]="paEvent" [isPast]="true"></app-event-card>
    </div>
  </div>
</div>
