<div class="events">
  <ng-template [ngIf]="this.roles?.includes('admin')">
    <div class="event-header">
    <button class="btn btn-primary add-event-btn" type="button" extended (click)="onAddEvent()" >
      <mat-icon class="add-icon">add_box</mat-icon>
     <span>Add Event</span>
      </button>
  </div>

  </ng-template>
  <div class="event-section">
    <div class="header">
      <h1>Upcoming Events</h1>
    </div>
    <div class="alert" *ngIf="filteredUpcomingEvents.length === 0">
      No Upcoming events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let upEvent of filteredUpcomingEvents | search: searchTerm: ['name', 'description', 'venue']" [event]="upEvent"></app-event-card>
    </div>
  </div>
  <div class="event-section">
    <div class="header">
      <h1>Past Events</h1>
    </div>
    <div class="alert" *ngIf="filteredPastEvents.length === 0">
      No Past events!
    </div>
    <div class="card-container">
      <app-event-card class="event-card" *ngFor="let paEvent of filteredPastEvents | search: searchTerm: ['name', 'description', 'venue']" [event]="paEvent" [isPast]="true"></app-event-card>
    </div>
  </div>
</div>
