.header {
  padding: 12px;
  margin: 2px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  height: 60px;
}

.event-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-event-btn{
  display: flex;
  margin-top: 28px;
  margin-right: 15px;
 position: fixed;
 z-index: 1;
 border-color:transparent;
}

.event-header{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1%;
}


.add-icon{
  margin-right: 10px;
}
