mat-card {
  border-radius: 10px;
  min-width: 250px;
  width: auto;
  margin-right: 10px;
  padding-left: 10px;
  height: 100%;
  border-radius: 8px;
  border-color: #e9e9e9;
  border-width: 2px;
  box-shadow: none;
}

.data-icon{
  padding: 5px 15px;
  background-color:   #e9e9e9  ;
  border-radius: 8px;
  height: 100%;
  display: flex;
  align-items: center;
}

.data-text{
  display: flex;
  flex-direction: column;
  justify-content: center
}

mat-card-content {
  height: 100%;
  display: flex;
  padding: 10px;
 align-items: center;
 gap: 10px;

}
h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

h1 {
  padding-top: 2px;
  font-size: 2.5rem;
  font-weight: 800;
  color: #2196f3;
  margin: 0;
}
