.container {
  background-color: lightgrey;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 2%;
  padding: 20px;
}
.form-group{
  margin-top: 5px;
}
h1 {
  text-align: center;
}

label{
  font-weight: bold;
  font-size: larger;
  margin-bottom: 5px;
}

.form-img{
  margin-left: 10px;
}

input.ng-invalid.nd-touched{
  border: 1px solid red;
}

.file-input{
  display:none;
}

/* Styling the select dropdown */
select {
  width: 30%;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

/* Styling the option elements */
option {
  padding: 8px;
}

/* Styling the placeholder option */
option[disabled]:first-child {
  color: #888;
}

/* Styling the selected option */
option:checked {
  background-color: #007bff;
  color: #fff;
}

/* Styling the dropdown arrow icon */
select::-ms-expand {
  display: none; /* Hide default arrow in IE */
}

/* Additional styling for hover and focus effects */
select:hover, select:focus {
  border-color: #007bff;
}